#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

button {
    background-color: #478CCF;
    color: lightgrey;
    padding: 20px;
    border: onset;
    border-radius: 5px;
}

#calculator {
    display: flex;
    flex-direction: column;
    border: 15px solid #478CCF;
    border-radius: 20px;
    padding: 12px;
    background-color: rgb(238, 237, 2);
    box-shadow: 10px 10px 5px lightblue;
}

#screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgrey; 
    width: auto;
    height: 70px;
    border: 1px solid grey;
    margin-bottom: 5px;
    padding-right: 10px;
    border-radius: 5px;
}

#screen > p {
    margin: 0;
    width: 100%;
    padding-right: 5px;
    padding-top: 1px;
    text-align: right;
}

#previous-item-display {
    font-size: 18px;
}

#item-display {
    font-size: 25px;
    margin-right: 5px;
}

#top-container{
    display: flex;
    justify-content: space-between;
}

#clear {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

#calculator-buttons {
    display: flex;
    gap: 5px;
}

#seven-four-one-zero {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#eight-five-two-decimal {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#nine-six-three-equal{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#basic-operators{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

